:host {
  position: relative;

  display: inline-block;
  align-items: flex-start;
  padding: 1px 6px;
  margin: 0;

  font-family: inherit;
  font-size: 100% * 5 / 6;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;

  color: #000;
  color: ButtonText;

  text-align: center;
  text-indent: 0;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;

  vertical-align: bottom;
  cursor: default;
  box-sizing: content-box;
  user-select: none;
  perspective: 100px;
  contain: layout style;

  #card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.4s ease;
    transform-style: preserve-3d;

    #front,
    #back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      background: #ddd;
      background: ButtonFace;
      background: var(--catalyst-flip-button-card-face-background, ButtonFace);
      border: 2px outset ButtonFace;
      border: var(--catalyst-flip-button-card-face-border, 2px outset ButtonFace);
      border-radius: var(--catalyst-flip-button-card-face-border-radius, 0);

      backface-visibility: hidden;

      -webkit-appearance: var(--catalyst-flip-button-card-face-appearance, button);
      -moz-appearance:    var(--catalyst-flip-button-card-face-appearance, button);
    }

    #back {
      transform: rotateY(180deg);
    }
  }
}

:host(:focus) {
  outline: none;

  #card {
    #front,
    #back {
      outline: var(--catalyst-flip-button-card-face-focused-outline, #000 dotted 1px);
    }
  }
}

:host([hidden]),
:host [hidden] {
  display: none;
}
