:host {
  display: inline-block;
  contain: layout style;

  align-items: flex-start;
  cursor: default;
  margin: 0;

  padding: 1px 6px;
  box-sizing: content-box;

  font-family: inherit;
  font-size: 100% * 5/6;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  line-height: normal;

  text-rendering: auto;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: bottom;

  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;

  position: relative;
  color: #000000;
  perspective: 100px;

  #card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform .4s ease;

    ::slotted(*) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      backface-visibility: hidden;
      z-index: 1;
      background: #dddddd;

      -webkit-appearance: button;
        -moz-appearance: button;
              appearance: button;
    }

    ::slotted(.last-active) {
      z-index: 2;
    }

    ::slotted(.active) {
      z-index: 3;
    }

    ::slotted([hidden]) {
      display: none;
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #dddddd;
    }
  }
}
:host(:focus) {
  outline: none;

  ::slotted(.active) {
    outline: #000000 dotted 1px;
    outline: -webkit-focus-ring-color auto 5px;
  }
}
:host(.no-option-selected) {
  #card {
    transform: none !important;
  }
}
:host([hidden]) {
  display: none;
}
